<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<label [ngClass]="setClasses()" *ngIf="name">Test Label2</label>
<label [style.color]="name" *ngIf="name">Test Label</label>
<input [(ngModel)]="name" />
<button style="width:50px; height:50px;" (click)="drawPoint({'x': 1, 'y': 2})">Count</button>
<ul *ngIf="points && points.length > 0">
  <li *ngFor="let item of points, let i = index">{{item.x}} {{item.y}} {{i}}</li>
</ul>

<div class="row"  style="padding:50px">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Header
      </div>
      <div class="card-block">
        <div class="card-title">
          Block
        </div>
        <div class="card-text">
          <p-editor [style]="{'height':'320px'}" [(ngModel)]="text1"></p-editor>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" pButton type="button" label="Clear" icon="fa-close" (click)="text1=null">Clear</button>
        <button class="btn btn-sm btn-link">Footer Action 1</button>
      </div>
    </div>
  </div>
</div>
Clickable Cards
